*{
  margin: 0;
  padding: 0;
}

input{
  &:focus{
    outline: none;
  }
}

.pagination{
  gap: 2rem !important;
}

.btn-primary a{
  color: #fff !important;
  text-decoration: none !important;
}

a{
  --bs-pagination-focus-box-shadow : none !important; 
}

input[type='radio'] {
  display: none;
}

.form-check-input:checked + label{
  background-color: #0b5ed7;
  color: #fff;
}

@media (max-width:768px) {
  .offcanvas{
    width: 200px !important;
  }
  .col-lg-3{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .col-lg-3 div{
    margin: 0 !important;
  }
}

@media (max-width:450px) {
  .navbar-brand{
    font-size: 20px !important;
  }
  .navbar-toggler{
    padding-top: 2px !important;
  }
  .navbar-toggler-icon{
    width: 20px !important;
    height: 20px !important;
  }
  .pagination{
    gap: 1rem !important;
    padding: 0px 12px !important;
  }
  .pagination li{
    height: 32px !important;
    padding: 2px 6px 6px 6px !important;
  }
  .pagination li a{
    font-size: .9rem !important;
  }
  .pagination .page-item{
    width: 30px !important;
    height: 30px !important;
    padding: 0px !important; 
  }
  .pagination .page-item a{
    padding: 4px 10px !important;
  }
}

@media (max-width:320px) {
  .card{
    width: 16rem !important;
  }
}